In [49]:
import selenium 
from selenium import webdriver 
import pandas as pd
from bs4 import BeautifulSoup
import requests
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support import expected_conditions as EC

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [116]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [117]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [118]:
driver.get(url)

In [139]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [140]:
r=driver.find_elements_by_xpath(r"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in r:
    Rank.append(i.text)
    
    
Rank[:5]

['1.', '2.', '3.', '4.', '5.']

In [141]:
v_name=driver.find_elements_by_xpath(r"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in v_name:
    Name.append(i.text)
    
    
Name[:5]

['"Baby Shark Dance"[28]',
 '"Despacito"[30]',
 '"Shape of You"[31]',
 '"See You Again"[32]',
 '"Johny Johny Yes Papa"[35]']

In [142]:
data=driver.find_elements_by_xpath(r"//td[@align='right']")
for i in data:
    Upload_date.append(i.text)

Upload_date[:5]

['June 17, 2016',
 'January 12, 2017',
 'January 30, 2017',
 'April 6, 2015',
 'October 8, 2016']

In [143]:
v=driver.find_elements_by_xpath(r"//div[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")
for i in v:
    Views.append(i.text)
    
Views[:5]

['7.91', '7.20', '5.18', '4.96', '4.77']

In [144]:
a=driver.find_elements_by_xpath(r"//div[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")
for i in a:
    Artist.append(i.text)
    
Artist

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi featuring Daddy Yankee',
 'Ed Sheeran',
 'Wiz Khalifa featuring Charlie Puth',
 'LooLoo Kids',
 'Get Movies',
 'Mark Ronson featuring Bruno Mars',
 'Psy',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Justin Bieber',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'El Chombo featuring Cutty Ranks',
 'Taylor Swift',
 'Alan Walker',
 'Major Lazer and DJ Snake featuring MØ',
 'Enrique Iglesias featuring Descemer Bueno and Gente De Zona',
 'Katy Perry featuring Juicy J',
 'Maroon 5 featuring Cardi B',
 'Passenger',
 'J Balvin and Willy William',
 'Adele',
 'Ed Sheeran',
 'Shakira featuring Freshlyground',
 'Taylor Swift',
 'Shakira featuring Maluma']

In [145]:
print(len(Name),len(Artist),len(Rank),len(Views),len(Upload_date))

49 30 49 30 87

In [146]:
song=pd.DataFrame({})
song['Rank']=Rank[:30]
song['Video name']=Name[:30]
song['Artist name']=Artist[:30]
song['View ']=Views[:30]
song['Date']=Upload_date[:30]
song

,Rank,Video name,Artist name,View,Date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.91,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.20,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.96,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.77,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.09,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.97,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018"
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.64,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.53,"March 6, 2014"
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015"
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015"
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013"
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013"
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014"
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.11,"April 5, 2018"
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.97,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.96,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.91,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.79,"October 22, 2015"
26,27.,"""Perfect""[58]",Ed Sheeran,2.74,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,2.74,"June 4, 2010"
28,29.,"""Blank Space""[60]",Taylor Swift,2.72,"November 10, 2014"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [23]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [24]:
url='https://www.bcci.tv'

In [25]:
driver.get(url)

In [26]:
button = driver.find_element_by_xpath('//div[@class="drop-down__options"]/ul/li/a').get_attribute('href')
driver.get(button)

In [51]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]
Month=[]

In [52]:
title=driver.find_elements_by_xpath(r"//p[@class='fixture__additional-info']/strong")
for i in title:
    Match_title.append(i.text)
    
Match_title

['2nd Test',
 '3rd Test',
 '4th Test',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 '5th T20I',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [53]:
venue=driver.find_elements_by_xpath(r"//p[@class='fixture__additional-info']/span")
for i in venue:
    Place.append(i.text)
    
Place

['M. A. Chidambaram Stadium, Chennai',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Maharashtra Cricket Association Stadium, Pune',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [54]:
name=driver.find_elements_by_xpath(r"//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in name:
    Series.append(i.text)
    
Series

['INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [55]:
m_time=driver.find_elements_by_xpath(r"//span[@class='fixture__time']")
for i in m_time:
    Time.append(i.text)
    
Time

['09:30 IST',
 '14:30 IST',
 '09:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST']

In [56]:
m_month=driver.find_elements_by_xpath(r"//span[@class='fixture__month']")
for i in m_month:
    Month.append(i.text)
    
Month

['FEBRUARY',
 'FEBRUARY',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'MARCH',
 'AUGUST',
 'AUGUST',
 'AUGUST',
 'SEPTEMBER',
 'SEPTEMBER']

In [57]:
day=driver.find_elements_by_xpath(r"//span[@class='fixture__date']")
for i in day:
    Date.append(i.text)
    
Date

['13',
 '24',
 '04',
 '12',
 '14',
 '16',
 '18',
 '20',
 '23',
 '26',
 '28',
 '04',
 '12',
 '25',
 '02',
 '10']

In [58]:
print(len(Match_title),len(Series),len(Place),len(Date),len(Month),len(Time))

16 16 16 16 16 16

In [59]:
Fixture=pd.DataFrame({})
Fixture['MATCH TITLE']=Match_title
Fixture['SERIES']=Series
Fixture['PLACE']=Place
Fixture['DATE']=Date
Fixture['MONTH']=Month
Fixture['TIME']=Time
Fixture

,MATCH TITLE,SERIES,PLACE,DATE,MONTH,TIME
0,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",13,FEBRUARY,09:30 IST
1,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",24,FEBRUARY,14:30 IST
2,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",04,MARCH,09:30 IST
3,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",12,MARCH,19:00 IST
4,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14,MARCH,19:00 IST
5,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",16,MARCH,19:00 IST
6,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",18,MARCH,19:00 IST
7,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",20,MARCH,19:00 IST
8,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23,MARCH,13:30 IST
9,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26,MARCH,13:30 IST
10,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28,MARCH,13:30 IST
11,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
12,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
13,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
14,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
15,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [3]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [4]:
url='https://www.guru99.com'

In [5]:
driver.get(url)

In [6]:
s_button = driver.find_element_by_xpath('//li[@class="g-dropdown-column"]/div/div[3]/ul/li[5]/a').get_attribute('href')
driver.get(s_button)

In [8]:
n_button = driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody/tr[34]/td/a').get_attribute('href')
driver.get(n_button)

In [36]:
name=[]
des=[]

In [118]:
title=driver.find_elements_by_xpath(r"//table[@class='table table-striped']/tbody/tr[42]/td[1]")
for i in title:
    name.append(i.text)

    
print(name)

['ElementNotVisibleException', 'ElementNotSelectableException', 'NoSuchElementException', 'NoSuchFrameException', 'NoAlertPresentException', 'NoSuchWindowException', 'StaleElementReferenceException', 'SessionNotFoundException', 'TimeoutException', 'WebDriverException', 'ConnectionClosedException', 'ElementClickInterceptedException', 'ElementNotInteractableException', 'ErrorInResponseException', 'ErrorHandler.UnknownServerException', 'ImeActivationFailedException', 'ImeNotAvailableException', 'InsecureCertificateException', 'InvalidArgumentException', 'InvalidCookieDomainException', 'InvalidCoordinatesException', 'InvalidElementStateExceptio', 'InvalidSessionIdException', 'InvalidSwitchToTargetException', 'JavascriptException', 'JsonException', 'NoSuchAttributeException', 'MoveTargetOutOfBoundsException', 'NoSuchContextException', 'NoSuchCookieException', 'NotFoundException', 'RemoteDriverServerException', 'ScreenshotException', 'SessionNotCreatedException', 'UnableToSetCookieException', 'UnexpectedTagNameException', 'UnhandledAlertException', 'UnexpectedAlertPresentException', 'UnknownMethodException', 'UnreachableBrowserException', 'UnsupportedCommandException']

In [120]:
exp_des=driver.find_elements_by_xpath(r"//table[@class='table table-striped']/tbody/tr[42]/td[2]")
for i in exp_des:
    des.append(i.text)

    
des

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [121]:
print(len(name),len(des))

41 41

In [122]:
selenium=pd.DataFrame({})
selenium['Exception name']=name
selenium['Description']=des
selenium

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [187]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [188]:
driver.get('http://statisticstimes.com')

In [189]:
i_button = driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]').get_attribute('href')
driver.get(i_button)

In [190]:
delay = 5
try:
    s_button = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href')
    driver.get(s_button)
except TimeoutException as e:
    print('Expection Raised',e)

In [191]:
rank=[]
state=[]
GSDP89=[]
GSDP78=[]
Share_17=[]
GDP=[]

In [193]:
rating=driver.find_elements_by_xpath(r"//table[@id='table_id']/tbody/tr/td[1]")
for i in rating:
    rank.append(i.text)
    
rank[:5]

['1', '2', '3', '4', '5']

In [195]:
gs_1=driver.find_elements_by_xpath(r"//table[@id='table_id']/tbody/tr/td[3]")
for i in gs_1:
    GSDP89.append(i.text)
    
GSDP89[:5]

['-', '1,794,508', '1,845,853', '1,699,115', '-']

In [197]:
gs_2=driver.find_elements_by_xpath(r"//table[@id='table_id']/tbody/tr/td[4]")
for i in gs_2:
    GSDP78.append(i.text)
    
GSDP78[:5]

['2,632,792', '1,668,229', '1,630,208', '1,544,399', '1,502,899']

In [199]:
name=driver.find_elements_by_xpath(r"//table[@id='table_id']/tbody/tr/td[2]")
for i in name:
    state.append(i.text)
    
state[:5]

['Maharashtra', 'Uttar Pradesh', 'Tamil Nadu', 'Karnataka', 'Gujarat']

In [201]:
s_17=driver.find_elements_by_xpath(r"//table[@id='table_id']/tbody/tr/td[5]")
for i in s_17:
    Share_17.append(i.text)
    
Share_17[:5]

['13.88%', '8.79%', '8.59%', '8.14%', '7.92%']

In [203]:
g=driver.find_elements_by_xpath(r"//table[@id='table_id']/tbody/tr/td[6]")
for i in g:
    GDP.append(i.text)
    
GDP[:5]

['398.145', '252.278', '246.529', '233.552', '227.276']

In [204]:
print(len(Rank),len(state),len(GSDP89),len(GSDP78),len(Share_17),len(GDP))

49 66 66 66 66 66

In [207]:
sw=pd.DataFrame({})
sw['Rank']=Rank[:30]
sw['State']=state[:30]
sw['GSDP(18-19)']=GSDP89[:30]
sw['GSDP(17-18)']=GSDP78[:30]
sw['Share(2017)']=Share_17[:30]
sw['GDP($ billion)']=GDP[:30]
sw

   Rank             State GSDP(18-19) GSDP(17-18) Share(2017) GDP($ billion)
0    1.       Maharashtra           -   2,632,792      13.88%        398.145
1    2.     Uttar Pradesh   1,794,508   1,668,229       8.79%        252.278
2    3.        Tamil Nadu   1,845,853   1,630,208       8.59%        246.529
3    4.         Karnataka   1,699,115   1,544,399       8.14%        233.552
4    5.           Gujarat           -   1,502,899       7.92%        227.276
5    6.       West Bengal   1,253,832   1,089,898       5.75%        164.820
6    7.         Rajasthan   1,020,989     942,586       4.97%        142.543
7    8.    Andhra Pradesh     972,782     862,957       4.55%        130.501
8    9.         Telangana     969,604     861,031       4.54%        130.210
9   10.    Madhya Pradesh     906,672     809,592       4.27%        122.431
10  11.            Kerala           -     781,653       4.12%        118.206
11  12.             Delhi     856,112     774,870       4.08%        117.180
12  13.           Haryana     831,610     734,163       3.87%        111.024
13  14.             Bihar     611,804     530,363       2.80%         80.204
14  15.            Punjab     574,760     526,376       2.77%         79.601
15  16.            Odisha     531,374     492,229       2.59%         74.437
16  17.             Assam           -     315,881       1.67%         47.769
17  18.      Chhattisgarh     329,180     304,063       1.60%         45.982
18  19.         Jharkhand     328,598     297,204       1.57%         44.945
19  20.       Uttarakhand           -     245,895       1.30%         37.186
20  21.   Jammu & Kashmir           -     155,956       0.82%         23.584
21  22.  Himachal Pradesh     165,472     153,845       0.81%         23.265
22  23.               Goa           -      73,170       0.39%         11.065
23  24.           Tripura      55,358      49,845       0.26%          7.538
24  25.        Chandigarh           -      42,114       0.22%          6.369
25  26.        Puducherry      40,802      36,656       0.19%          5.543
26  27.         Meghalaya      36,572      33,481       0.18%          5.063
27  28.            Sikkim      32,496      28,723       0.15%          4.344
28  29.           Manipur           -      27,869       0.15%          4.214
29  30.          Nagaland           -      27,283       0.14%          4.126

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [12]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [13]:
url='https://github.com'

In [14]:
driver.get(url)

In [22]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [16]:
t_button = driver.find_element_by_xpath('//div[@class="dropdown-menu flex-auto rounded-1 bg-white px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4"]/ul[2]/li[3]/a').get_attribute('href')
driver.get(t_button)

In [24]:
title=driver.find_elements_by_xpath(r"//h1[@class='h3 lh-condensed']")
for i in title:
    Repository_title.append(i.text)

des=driver.find_elements_by_xpath(r"//p[@class='col-9 text-gray my-1 pr-4']")
for i in des:
    Repository_description.append(i.text)
    
lang=driver.find_elements_by_xpath(r"//div[@class='f6 text-gray mt-2']/span/span[2]")
for i in lang:
    Language_used.append(i.text)
    
count=driver.find_elements_by_xpath(r"//div[@class='f6 text-gray mt-2']/a[1]")    
for i in count:
    Contributors_count.append(i.text)

In [25]:
print(len(Repository_title),len(Repository_description),len(Language_used),len(Contributors_count))

25 23 22 25

In [26]:
github=pd.DataFrame({})
github['Repository title']=Repository_title[:20]
github['Repository description']=Repository_description[:20]
github['Language used']=Language_used[:20]
github['Contributors count']=Contributors_count[:20]
github

,Repository title,Repository description,Language used,Contributors count
0,JonnyBurger / remotion-trailer,A video written in React,TypeScript,728
1,iam-abbas / Reddit-Stock-Trends,Fetch currently trending stocks on Reddit,Python,923
2,hashicorp / vault,"A tool for secrets management, encryption as a...",Go,"19,778"
3,conwnet / github1s,One second to read GitHub code with VS Code.,TypeScript,"7,280"
4,Azure / azure-quickstart-templates,Azure Quickstart Templates,PowerShell,"9,228"
5,Kaiyiwing / qwerty-learner,为键盘工作者设计的单词记忆与英语肌肉记忆锻炼软件 / Words learning and ...,TypeScript,"1,264"
6,JonnyBurger / remotion,Create videos programmatically in React,TypeScript,"4,112"
7,nemanjarogic / DesignPatternsLibrary,A comprehensive design patterns library implem...,C#,404
8,tgbot-collection / YYeTsBot,人人影视bot，完全对接人人影视全部无删减资源,Python,"2,222"
9,aws / amazon-sagemaker-examples,Example notebooks that show how to apply machi...,Jupyter Notebook,"4,967"
10,jomjol / AI-on-the-edge-device,The Node.js best practices list (February 2021),C++,392
11,goldbergyoni / nodebestpractices,React Hooks —,JavaScript,"60,457"
12,streamich / react-use,Clean Code concepts adapted for JavaScript,TypeScript,"19,406"
13,ryanmcdermott / clean-code-javascript,Use machine learning in JavaScript to detect e...,JavaScript,"45,734"
14,charliegerard / gaze-detection,Firefox for iOS,JavaScript,315
15,mozilla-mobile / firefox-ios,Collaborative List of Open-Source iOS Apps,Swift,"10,057"
16,dkhamsing / open-source-ios-apps,天若有情天亦老，我为网站加一秒,Swift,"26,429"
17,justjavac / 1s,"The universal React Native animation library, ...",TypeScript,360
18,nandorojo / moti,Cybernetically enhanced web apps,TypeScript,656
19,sveltejs / svelte,A collection of sample apps to demonstrate how...,Java,"44,029"

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
Song_name=[]
Artist_name=[]
Last_week=[]
Peak=[]
Weeks=[]

In [4]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")
delay = 5
try:
    driver.get('https://www.billboard.com')
except TimeoutException as e:
    print('Expection Raised',e)

In [5]:
c_button = driver.find_element_by_xpath('//ul[@class="header__submenu__list"]/li[1]/a').get_attribute('href')
driver.get(c_button)

In [6]:
s_name=driver.find_elements_by_xpath(r"//span[@class='chart-element__information__song text--truncate color--primary']")
for i in s_name:
    Song_name.append(i.text)
    
a_name=driver.find_elements_by_xpath(r"//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in a_name:
    Artist_name.append(i.text)
    
    
l_week=driver.find_elements_by_xpath(r"//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in l_week:
    Last_week.append(i.text)
    
rank=driver.find_elements_by_xpath(r"//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in rank:
    Peak.append(i.text)
    
    
n_week=driver.find_elements_by_xpath(r"//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in n_week:
    Weeks.append(i.text)

In [7]:
print(len(Song_name),len(Artist_name),len(Last_week),len(Peak),len(Weeks))

100 100 100 100 100

In [8]:
songs=pd.DataFrame({})
songs['Song name']=Song_name
songs['Artist name']=Artist_name
songs['Last week rank']=Last_week
songs['Peak rank']=Peak
songs['Weeks on board']=Weeks
songs

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [9]:
url='https://www.naukri.com'

In [10]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")
driver.get(url)

In [13]:
r_button=driver.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]/div/ul/li[1]/a').get_attribute('href')   
driver.get(r_button)

In [18]:
search_bar = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_bar.send_keys('Data scientist')
search_button = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')       
search_button.click()

In [30]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [31]:
n=driver.find_elements_by_xpath(r"//span[@class='fl ellipsis']")
for i in n:
    Name.append(i.text)
d=driver.find_elements_by_xpath(r"//span[@class='ellipsis clr']")
for i in d:
    Designation.append(i.text)

c=driver.find_elements_by_xpath(r"//p[@class='highlightable']/a[2]")
for i in c:
    Company.append(i.text)

s=driver.find_elements_by_xpath(r"//div[@class='hireSec highlightable']")
for i in s:
    Skills.append(i.text)
    

l=driver.find_elements_by_xpath(r"//small[@class='ellipsis']")
for i in l:
    Location.append(i.text)

In [21]:
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

50 50 50 50 49

In [35]:
naukri=pd.DataFrame({})
naukri['Name']=Name[:49]
naukri['Designation']=Designation[:49]
naukri['Company']=Company[:49]
naukri['Skills']=Skills[:49]
naukri['Location']=Location[:49]
naukri

,Name,Designation,Company,Skills,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Anoop Somarajan,Assistant Manager Talent Acquisition,Access Healthcare,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
8,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
9,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
10,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,Naresh,IT Recruitment Consultant,Waterleaf Consultants Pvt. Ltd.,"Managers, Operational Head, Directors, Ceo, Da...",Hyderabad / Secunderabad
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
14,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
16,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
18,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
20,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
21,Sridharan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,"Data Scientist, Developer, Ui, Accounting",Chennai
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
25,Janhavi Soni,HR Generalist,Vihaa Technologies LLP,"C, C++, Unity3d, Core Php, Android Development...",Ahmedabad
26,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
27,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
28,Nilanjan Sinha,Senior Manager HR,CropData Technology (P) Ltd.,"Software Development, Business Development, Ag...",Nagpur
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
31,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
32,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
33,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Mumbai
34,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Bengaluru / Bangalore
35,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Hyderabad / Secunderabad
36,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Bengaluru / Bangalore
37,Nagajothi Edumdan,Lead Technical Recruiter,Roljobs Technology Services Pvt Ltd,"architect, Technical Lead, director, java, J2e...",Bengaluru / Bangalore
38,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Delhi
39,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Bengaluru / Bangalore
40,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Hyderabad / Secunderabad
41,navya neluri,Data Scientist,asens labs,Not Specified,Pune
42,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Bengaluru / Bangalore
43,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Hyderabad / Secunderabad
44,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Bengaluru / Bangalore
45,Gautam Malaiappan,Founder CEO,HireHappi,"Sql, Sas, Sas Programming, Python, Tableau, Vb...",Hyderabad / Secunderabad
46,Blueberry Digital Labs,HR,Blueberry Digital Labs,"Node.js, Html, Css, Nosql, Web Designing, Web ...",Noida
47,Ms Uma,Company HR,RenovITe Payment Solutions Pvt ltd,"java, J2ee, activemq, rest, cassandra, redis, ...",Chennai
48,Manoj Kumar Ganesh,Senior HR Associate,Cads Software India,"Java, J2EE, Oracle E-business Suite, MS CRM, P...",Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [50]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [51]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

In [52]:
driver.get(url)

In [53]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [54]:
name=driver.find_elements_by_xpath(r"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in name:
    Book_name.append(i.text)
    
a=driver.find_elements_by_xpath(r"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in a:
    Author_name.append(i.text)

vol=driver.find_elements_by_xpath(r"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vol:
    Volumes_sold.append(i.text)

p=driver.find_elements_by_xpath(r"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in p:
    Publisher.append(i.text)
    

g=driver.find_elements_by_xpath(r"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in g:
    Genre.append(i.text)

In [55]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [56]:
novels=pd.DataFrame({})
novels['Book name']=Book_name
novels['Author name']=Author_name
novels['Volumes sold']=Volumes_sold
novels['Publisher']=Publisher
novels['Genre']=Genre
novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [72]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [73]:
Url = 'https://www.imdb.com/list/ls095964455'

In [74]:
driver.get(Url)

In [81]:
Name=[]
Year=[]
Genre=[]
time=[]
Ratings=[]
Votes=[]

In [83]:
title=driver.find_elements_by_xpath(r"//h3[@class='lister-item-header']/a")
for i in title:
    Name.append(i.text)
    
y=driver.find_elements_by_xpath(r"//span[@class='lister-item-year text-muted unbold']")
for i in y:
    Year.append(i.text)

t=driver.find_elements_by_xpath(r"//span[@class='runtime']")
for i in t:
    time.append(i.text)

r=driver.find_elements_by_xpath(r"//span[@name='nv']")
for i in r:
    Ratings.append(i.text)
    

g=driver.find_elements_by_xpath(r"//span[@class='genre']")
for i in g:
    Genre.append(i.text)

    
v=driver.find_elements_by_xpath(r"//div[@class='lister-item-content']/p[4]/span[2]")
for i in v:
    Votes.append(i.text)

In [84]:
print(len(Name),len(Year),len(time),len(Ratings),len(Genre),len(Votes))

100 100 100 100 100 100

In [85]:
series=pd.DataFrame({})
series['Name']=Name
series['Year span']=Year
series['Genre']=Genre
series['Run time']=time
series['Ratings']=Ratings
series['Votes']=Votes
series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,768,783","1,768,783"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"821,265","821,265"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,"852,916","852,916"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"256,063","256,063"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"216,273","216,273"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"43,555","43,555"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"53,846","53,846"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"161,055","161,055"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,"34,078","34,078"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"182,136","182,136"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [86]:
url='https://archive.ics.uci.edu'

In [87]:
driver=webdriver.Chrome(r"C:\Users\Dell Laptop\chromedriver.exe")

In [88]:
driver.get(url)

In [90]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
instances=[]
attribute=[]
Year=[]

In [92]:
v_button = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').get_attribute('href')
driver.get(v_button)

In [95]:
title=driver.find_elements_by_xpath(r'//tr[@bgcolor="DDEEFF"]/td[1]')
for i in title:
    Dataset_name.append(i.text)
    
    
dt=driver.find_elements_by_xpath(r'//tr[@bgcolor="DDEEFF"]/td[2]')
for i in dt:
    Data_type.append(i.text)

t=driver.find_elements_by_xpath(r'//tr[@bgcolor="DDEEFF"]/td[3]')
for i in t:
    Task.append(i.text)

at=driver.find_elements_by_xpath(r'//tr[@bgcolor="DDEEFF"]/td[4]')
for i in at:
    Attribute_type.append(i.text)
    

nn=driver.find_elements_by_xpath(r'//tr[@bgcolor="DDEEFF"]/td[5]')
for i in nn:
    instances.append(i.text)

    
a=driver.find_elements_by_xpath(r'//tr[@bgcolor="DDEEFF"]/td[6]')
for i in a:
    attribute.append(i.text) 
    
y=driver.find_elements_by_xpath(r'//tr[@bgcolor="DDEEFF"]/td[7]')
for i in y:
    Year.append(i.text)

In [96]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(instances),len(attribute),len(Year))

280 280 280 280 280 280 280

In [97]:
datasets=pd.DataFrame({})
datasets['Dataset_name']=Dataset_name
datasets['Data_type']=Data_type
datasets['Task']=Task
datasets['Attribute_type']=Attribute_type
datasets['instances']=instances
datasets['attribute']=attribute
datasets['Year']=Year
datasets

,Dataset_name,Data_type,Task,Attribute_type,instances,attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
275,Shoulder Implant X-Ray Manufacturer Classifi...,Multivariate,Classification,Real,597,1,2020
276,HCV data,Multivariate,"Classification, Clustering","Integer, Real",615,14,2020
277,South German Credit (UPDATE),Multivariate,"Classification, Regression, Clustering","Integer, Real",1000,21,2020
278,Guitar Chords finger positions,Text,Classification,,2633,5,2020
279,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020